.productLists {
    // padding: 6px;
    margin-top: 10px;
//    display: block;
    h2 {
        color: #191919;
        margin-left: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-align: left;
        padding-bottom: 6px;
    }
    &__content {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 98%;
        margin:0 auto;
    }
}