.footer {
    background: #ededed;
    padding:12px 0;

    &__menu {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 20px;
        &__logoArea{
            &__content{
                display: flex;
                align-items: center;
                &__logo {
                    width: 60px;
                    height: 40px;
            
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &__logoName {
                    label {
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #191919;
                    }
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-top: 20px;
                li {
                    padding:4px 0;
                    a {
                    color: #191919;
                    transition: all 0.3s;

                    &:hover {
                        color: #565353;
                    }
                    }
                }
            }
        }
        &__content {
            h2 {
                font-weight: 700;
                color: #191919;
                text-transform: capitalize;
            }
            ul {
                margin: 12px 0;
                li {
                    padding:4px 0;
                    a {
                    color: #191919;
                    transition: all 0.3s;

                    &:hover {
                        color: #565353;
                    }
                    }
                }
            }
            
        }
    }

    &__copyRight{
        p {
            text-align: center;
            letter-spacing: 1px;
        }
    }
}

.social_icons__list {
    ul {
        display: flex;
        align-items: center;
        li {
            padding-right:8px;

        }
    }
}